<div>
    <input type="checkbox" name="announcement" onclick="manegeSubscribe(this)">
    <label>announcement</label>
</div>
<p id="tmp"></p>
</body>

<script>

    let socket = new WebSocket("ws://"+ document.location.host+ "/stream");

    socket.onopen = function (e) {
        console.log("[open] Connection established");
        console.log("Sending to server");
    };

    socket.onmessage = function (event) {
        console.log(`[message] Data received from server: ${event.data}`);
        document.getElementById('tmp').append(`[message] Data received from server: ${event.data}`);
    };

    socket.onclose = function (event) {
        if (event.wasClean) {
            console.log(`[close] Connection closed cleanly, code=${event.code} reason=${event.reason}`);
        } else {
            console.log('[close] Connection died');
        }
    };

    socket.onerror = function (error) {
        console.log(`[error] ${error.message}`);
    };


    function manegeSubscribe(e) {
        let action = e.checked ? "subscribe" : "unsubscribe";
        let topic = e.name;
        let payload;
        payload = {"op": action, "args": [topic]}
        let payloadStr = JSON.stringify(payload);
        socket.send(payloadStr)
    }




</script>
